<div class="inventory">
  <div class="topBar">
      <input name="itemName" type="text" placeholder="Search for item" [formControl]="inputName">
      <div class="container" *ngIf="itemName !== ''">
        <li *ngFor="let i of array">
          <img [src]="i.image_inventory">{{i.name}}
        </li>
      </div>
      <div class="username" *ngIf="user"><img [src]="user.avatar"><h2>{{user.username}}'s inventory</h2></div>
  </div>
  <ul class="inv">
    <div *ngIf="!itemDetails">No items found :(</div>
    <li *ngFor="let item of itemDetails">
      <div class="item card">
       <a [routerLink]="item.index">
        <img 
        [src]="item.image" 
        [alt]="item.name"
        [ngClass]="{
          'common': !item.rarity,
          'uncommon': item.rarity === 'uncommon',
          'rare': item.rarity === 'rare',
          'mythic': item.rarity === 'mythical',
          'legendary': item.rarity === 'legendary',
          'immortal': item.rarity === 'immortal',
          'arcana': item.rarity === 'arcana',
          'ancient': item.rarity === 'ancient'
        }"
        >
        <div class="about">
            <h4>{{ item.name }}</h4>
            <p *ngIf="item.type ==='wearable' || item.type ==='taunt'">For: {{ item.hero | titlecase}}</p>
            <div class="type"> 
              <p>Type: {{ item.type | titlecase }}</p>
            </div>
            
        </div>
       </a> 
      </div>
    </li>
  </ul>

  <ul class="nav">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active: pager.currentPage === page}">
        <a (click)="setPage(page)">{{ page }}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.total}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a></li>
    </ul>
</div>
