<div class="friend">
  <div *ngIf="loading"><div class="loading">Loading&#8230;</div></div>

  <div class="friendList" *ngIf="!loading">
  
    <div class="error" *ngIf="error" [innerHTML]="error.error"> </div>
    <div class="search">
        <input name="itemName" type="text" placeholder="Search all inventories" [formControl]="inputName" pattern="[a-zA-Z0-9\s]+" minlength="1" maxlength="50" >
        <div class="container" *ngIf="items.length > 0">
          <li *ngFor="let i of items">
            <a (click)="setSearch(i.name)"><img [src]="i.image_alt1">{{i.name}}</a>
          </li>
        </div>
    </div>
    <div class="center">
      <ul>
        <div *ngIf="!friends">No friends found :(</div>
          <li *ngFor="let friend of friends" [class.hasItem]="friend.hasItem"> 
            <a [routerLink]="['inventory', friend.steamId]" >
              <img [src]="friend.avatar" > {{ friend.username }} 
            </a>
            <div class="found" *ngIf="friend.hasItem">!</div> 
          </li>
      </ul>
    </div>
    
  </div>
</div>