<div class="friendList">
  <div class="loading" *ngIf="loading">loading...</div>
  <div class="error" *ngIf="error" [innerHTML]="error.error"> </div>
  <div class="search">
      <label>Search for Item</label>
      <input name="itemName" type="text" placeholder="Search Item" [formControl]="inputName">
      <div class="container" *ngIf="itemName !== ''">
        <li *ngFor="let i of array">
          <img [src]="i.avatar">{{i.name}}
        </li>
      </div>
  </div>
  <ul>
    <li *ngFor="let friend of friends"> <a [routerLink]="['inventory', friend.steamId]" [class.hasItem]="friend.hasItem"> {{ friend.username }} </a> </li>
  </ul>
</div>