<nav [class.error]="error">
  <div class="blur"></div>
  <div class="links">
    <div>
        <div class="logo">
          <span *ngIf="!user"><a [routerLink]="['']">Dota2Inventory</a></span>
          <span *ngIf="user"><a (click)="goTo()"><img [src]="user.avatar">{{user.username}}</a></span>
        </div>
      </div>
      <div *ngIf="error">Steam Service is down. Try again after a few minutes.</div>
      <div>
        <ul>
          
          <li *ngIf="mainUser">
              <a [routerLink]="[user.steamId]">Friends List</a>
          </li>
          <li *ngIf="logged"><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
  </div>
  
</nav>
